.mySwiper {
    width: 443px;
    height: 280px;
    border: 5px solid $dark;
}

.img-slider {
    width: 443px;
    height: 280px;
}

.secondSwiper {
    margin-top: 20px;
}

.img-1 {
    background-image: url(img/1.jpg);
}

.img-2 {
    background-image: url(img/2.jpg);
}

.img-3 {
    background-image: url(img/3.jpg);
}

.img-4 {
    background-image: url(img/4.jpg);
}

.img-5 {
    background-image: url(img/5.jpg);
}

.img-6 {
    background-image: url(img/6.jpg);
}

.img-7 {
    background-image: url(img/7.jpg);
}

.img-8 {
    background-image: url(img/8.jpg);
}
